<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <!-- A sub directory will be created in the OutputDirectory for each MLV file and RawFlow generates the extracted DNG & WAV files and proxy videos in that sub directory. By default the value is empty and RawFlow uses the parent folder of the MLV files as OutputDirectory. -->
    <add key="OutputDirectory" value=""/>
    
    <!-- TemporaryWorkingDirectory is where RawFlow generates temporary files. By default the value is empty and RawFlow uses the output directory for temporary files. -->
    <add key="TemporaryWorkingDirectory" value=""/>

    <!-- Whether or not to generate proxy video files. By default will not generate proxy videos. -->
    <add key="GenerateProxyVideo" value="false" />
  </appSettings>
  
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Log.txt" />
      <param name="AppendToFile" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>